[submodule "CloudTemplates/boxcutter-ubuntu"]
	path = CloudTemplates/boxcutter-ubuntu
	url = https://github.com/boxcutter/ubuntu.git
[submodule "CloudTemplates/boxcutter-bsd"]
	path = CloudTemplates/boxcutter-bsd
	url = https://github.com/boxcutter/bsd.git
[submodule "CloudTemplates/boxcutter-centos"]
	path = CloudTemplates/boxcutter-centos
	url = https://github.com/boxcutter/centos.git
[submodule "CloudTemplates/boxcutter-debian"]
	path = CloudTemplates/boxcutter-debian
	url = https://github.com/boxcutter/debian.git
[submodule "CloudTemplates/boxcutter-oraclelinux"]
	path = CloudTemplates/boxcutter-oraclelinux
	url = https://github.com/boxcutter/oraclelinux.git
[submodule "CloudTemplates/boxcutter-fedora"]
	path = CloudTemplates/boxcutter-fedora
	url = https://github.com/boxcutter/fedora.git
[submodule "CloudTemplates/boxcutter-macos"]
	path = CloudTemplates/boxcutter-macos
	url = https://github.com/boxcutter/macos.git
[submodule "ClockworkVMs"]
	path = ClockworkVMs
	url = https://github.com/csd-dev-tools/ClockworkVMs.git
